.addquestion__form {
  display: grid;
  width: 100%;
  max-width: 660px;
  gap: 0.5em;
  align-self: center;
  margin-top: 2%;
}
.addquestion__body {
  display: flex;
}
.addquestion__hashtag_section {
  display: flex;
  gap: 20px;
}
