footer {
  background-color: blanchedalmond;
  display: flex;
  position: fixed;
  border: 10px solid rgb(88, 88, 88);
  align-self: center;
  bottom: -2%;
  box-shadow: 0px 0px 20px 10px grey;
}
.footer__nav_ul {
  display: flex;
  padding-right: 37px;
  list-style: none;
  justify-content: flex-start;
  gap: 30px;
}
.footer__nav_li {
  border: 10px solid rgb(88, 88, 88);
}
