* {
  box-sizing: border-box;
  font-family: "comic sans MS"
}
.blackbox {
  border: 10px rgb(62, 40, 90) solid;
  display: flex;
  width: auto;
  justify-content: center;
  border-radius: 40px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2.5%;
  font-family: "comic sans MS";
}

h1 {
  text-shadow: 8px 8px 2px rgb(207, 205, 210);
  color: rgb(106, 106, 240);
  font-size: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
}
