.pic_and_name {
  display: flex;

  margin-left: 14%;
  margin-right: 14%;
  justify-content: center;
  height: auto;
  align-items: center;
  font-size: 50px;
}

.profile_pic {
  border-radius: 100%;
  border: 8px solid grey;
}
.nametag {
  margin-left: 30px;
}
