* {
  box-sizing: border-box;
}
.blackbox {
  border: 10px rgb(62, 40, 90) solid;
  display: flex;
  width: auto;
  justify-content: center;
  border-radius: 40px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2.5%;
  font-family: "comic sans MS";
}

h1 {
  color: rgb(106, 106, 240);
  font-size: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.question_card {
  border: 3px rgb(62, 40, 90) solid;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  border-radius: 40px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2.5%;
  font-size: 40px;
}
p {
  font-family: "comic sans MS";
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
.answer_button {
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 5%;
  font-size: 30px;
  border-radius: 1px;
  background-color: rgb(255, 247, 177);
  border: 3px rgb(97, 93, 93) solid;
  width: 500px;
  height: 100px;
  box-shadow: 5px 5px 10px grey;
}
.answer_button:hover {
  background-color: rgb(254, 243, 120);
}
