* {
  box-sizing: border-box;
}
.blackbox {
  border: 10px rgb(62, 40, 90) solid;
  display: flex;
  width: auto;
  justify-content: center;
  border-radius: 40px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2.5%;
  font-family: "comic sans MS";
}

h1 {
  color: rgb(106, 106, 240);
  font-size: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.question_card {
  border: 3px rgb(62, 40, 90) solid;
  background-color: aliceblue;
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  align-items: center;
  border-radius: 4px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2.5%;
  font-size: 40px;
  box-shadow: 5px 5px 10px grey;
}

.question_p {
  font-family: "comic sans MS";
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.answer_button {
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 5%;
  font-size: 30px;
  border-radius: 1px;
  background-color: rgb(255, 247, 177);
  border: 3px rgb(97, 93, 93) solid;
  width: 500px;
  height: 100px;
  box-shadow: 5px 5px 10px grey;
}
.answer_button:hover {
  background-color: rgb(254, 243, 120);
}
.hashtags {
  font-size: 20px;
  color: rgb(170, 166, 166);
  display: flex;
  list-style: none;
  justify-content: flex-start;
  gap: 40px;
  font-family: "comic sans MS";
}
.hashtags_article {
  display: flex;
  border: 1px rgb(62, 40, 90) solid;
  display: flex;
  width: 100%;
  height: 100%;
}
.bookmark {
  position: absolute;
  top: -5%;
  right: 0%;
}
body {
  display: flex;
  flex-direction: column;
}
footer {
  background-color: blanchedalmond;
  display: flex;
  position: fixed;
  border: 10px solid rgb(88, 88, 88);
  align-self: center;
  bottom: -2%;
  box-shadow: 0px 0px 20px 10px grey;
}

.nav_ul {
  display: flex;
  padding-right: 37px;
  list-style: none;
  justify-content: flex-start;
  gap: 30px;
}

.placeholder {
  height: 150px;
}
/* BOOKMARKPAGE */

.pic_and_name {
  display: flex;

  margin-left: 14%;
  margin-right: 14%;
  justify-content: center;
  height: auto;
  align-items: center;
  font-size: 50px;
}

.profile_pic {
  border-radius: 100%;
  border: 8px solid grey;
}
.nametag {
  margin-left: 30px;
}
.counter_section {
  display: flex;
}
.question {
  display: flex;
  border: 2px solid grey;
}
